@charset "UTF-8";

.tyre_card_container{
  background: #FFFFFF;
  border: 1px solid #BFC5C6;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.columns{
  display: flex;
  flex:1;
}

.main{
  width: 180px;
}

.sidebar-first{
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  min-width: 19rem;
}

.sidebar-second{
  width:170px;
}

.mb-included-text {
  margin-bottom: 1.2rem;
}

img.tyre_card_logo {
  width: 70%;
  padding: 1.25rem 1.5rem 0 1.5rem;
}

img.tyre_card_image {
  width: 70%;
  padding: 0.75rem 1.5rem 1rem 1.5rem;
}

.background_grey {
  background-color:rgb(237,238,240,0.5);
  border-left: 1px solid #BFC5C6;
  min-height: 227px;
  padding-left: 1.25rem;
}

@media screen and (min-width: 1023px){
