@charset "UTF-8";

.quantity select {
  width: 5rem;
  padding: 5px 35px 5px 16px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #BFC5C6;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/down-arrow.svg) 80% / 15% no-repeat;
  background-size: 20px 11px;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

.quantity select:hover {
  border: 1px solid #282828;
}

.sort {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.sort select {
  width: 16rem;
  padding: 5px 35px 5px 16px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #BFC5C6;
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/down-arrow.svg) 80% / 15% no-repeat;
  background-size: 20px 11px;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

.sort select:hover {
  border: 1px solid #282828;
}


.sort.custom select {
  background: url(../img/sort.svg) 96% / 15% no-repeat;
  background-size: 28px 28px;
  background-color: #FFFFFF;
}

/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

select:focus {
  outline: 0;
  -webkit-box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0),0 0 0 3px rgba(50,151,211,.5);
  box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0),0 0 0 3px rgba(50,151,211,.5);
}

@media screen and (min-width: 600px) and (max-width: 1023px){

.sort {
}

}
