.btn {
  border: none;
  padding: 0.813rem 2.5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border-radius: 28px;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn:hover {
  transition: background-color 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

.btn--primary {
  background-color: #E84E0E;
  color: #FFF;
}

.btn--primary:hover {
  background-color: #C33C00;
}

.btn--primary-alternative {
  background-color: #018489;
  color: #FFF;
}

.btn--primary-alternative:hover {
  background-color: #02676B;
}

.btn--secondary {
  background-color: #D9DEE1;
  color: #282828;
}

.btn--secondary:hover {
  background-color: #CDD2D5;
}

.btn-group__btn {
  display: inline-block;
  margin-right: 1rem;
}

.btn--ghost {
  background-color: transparent,
  color: #282828;
  border: solid 1px #AAAFB2;
}

.btn--ghost:hover {
  box-shadow: inset 0 0 0 1px #282828;
  border: solid 1px #282828;
  transition: 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

.btn--disabled {
  background-color: #EAEAEA;
  color: #A3A3A3;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

body.user-is-tabbing *:focus {
  -webkit-box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0),0 0 0 4px rgba(50,151,211,.5);
  box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0),0 0 0 4px rgba(50,151,211,.5);
  transition: 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

.btn--filters {
  background-color: transparent,
  color: #282828;
  border: solid 1px #999999;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  height: 3rem;
  font-weight: 400;
  border-radius: 3px;
  margin-right: 1rem;
}

.btn--filters::after{
  content: url('../img/filters-icon.svg');
  display: flex;
  align-items: center;
  margin-left: 0.35rem;
  margin-top: 0.35rem;
}

.btn--filters:hover {
  box-shadow: inset 0 0 0 1px #282828;
  border: solid 1px #282828;
  transition: 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

.btn--tyre-card {
  width: 90%;
  padding: 0.813rem 0;
}

#myBtn, #myBtn2  {
  text-decoration: underline;
  cursor: pointer;
}

a.standard-link {
  text-decoration: underline;
  color: #647683;
}

a.standard-link:hover {
  color: #282828;
}
