@charset "UTF-8";

ul.tyre_type {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tyre_type li label{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #BFC5C6;
    border-radius: 3px;
    white-space: nowrap;
    width: 17rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
}

ul.tyre_type li label:hover{
    border: 1px solid #4E5B64;
    background-color:rgb(237,238,240,0.1);
}

ul.tyre_type li label {
    padding: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

ul.tyre_type li.winter_tyre label::before {
    content: url('../img/winter-tyre.svg');
    height: 30px;
    margin-right: 0.5rem;
}

ul.tyre_type li.ma label::before {
    content: url('../img/manufacturer-approved.svg');
    height: 30px;
    margin-right: 0.5rem;
}

ul.tyre_type li.run_flat label::before {
    content: url('../img/run-flat.svg');
    height: 30px;
    margin-right: 0.5rem;
}

ul.tyre_type li.winter_tyre input[type="checkbox"]:checked + label::before {
    content: url('../img/winter-tyre-white.svg');
}

ul.tyre_type li.ma input[type="checkbox"]:checked + label::before {
    content: url('../img/manufacturer-approved-white.svg');
}

ul.tyre_type li.run_flat input[type="checkbox"]:checked + label::before {
    content: url('../img/run-flat-white.svg');
}

ul.tyre_type li input[type="checkbox"]:checked + label {
    border: 1px solid #4E5B64;
    background-color: #4E5B64;
    color: #ffffff;
}

ul.tyre_type li input[type="checkbox"] {
  display: absolute;
}
ul.tyre_type li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  -webkit-box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0),0 0 0 2px #87BAE7;
  box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0),0 0 0 2px #87BAE7;
} */

ul.tyre_brand {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

ul.tyre_brand li label{
    background-color: #FFFFFF;
    border: 1px solid #BFC5C6;
    border-radius: 3px;
    white-space: nowrap;
    width: 7.4rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul.tyre_brand li label:hover{
    border: 1px solid #4E5B64;
    background-color:rgb(237,238,240,0.1);
}

ul.tyre_brand li label {
    max-height: 2.5rem;
    padding: 1.1rem 0.6rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.right {
  margin-right: -0.5rem;
}

ul.tyre_brand li input[type="checkbox"]:checked + label {
    border: 1px solid #4E5B64;
    box-shadow: inset 0 0 0 2px #4E5B64;
    background-image: url('../img/checked-dark.svg');
    background-repeat: no-repeat;
    background-position: 4px 4px;
    z-index: 99;
}

ul.tyre_brand li input[type="checkbox"] {
  display: absolute;
}
ul.tyre_brand li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.tyre_brand img {
  height: 2rem;
}

ul.tyre_quality {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
}

ul.tyre_quality li label{
    background-color: #FFFFFF;
    border: 1px solid #BFC5C6;
    border-radius: 3px;
    width: 15.85rem;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    align-items: center;
}

ul.tyre_quality li label:hover{
    border: 1px solid #4E5B64;
    background-color:rgb(237,238,240,0.1);
}

ul.tyre_quality li label {
  padding: 0.657rem 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

ul.tyre_quality li label::before {
    content: url('../img/checkbox.svg');
    height: 20px;
    margin-right: 0.75rem;
}

ul.tyre_quality li input[type="checkbox"]:checked + label::before {
    content: url('../img/checked.svg');
}

ul.tyre_quality li input[type="checkbox"]:checked + label {
    border: 1px solid #4E5B64;
    background-color: #4E5B64;
    color: #ffffff;
}

ul.tyre_quality li input[type="checkbox"] {
  display: absolute;
}
ul.tyre_quality li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.filters_mobile {
  display: none;
}


@media screen and (min-width: 600px) and (max-width: 1023px){

.sort_results {
  display: none;
}

.filters_mobile {
  display: flex;
  background-color: rgb(237,238,240,0.8);
  padding-top: 1rem;
  flex-direction: row;
}

.sticky_filters {
  display: flex;
  padding-bottom: 1rem;
}

.row {
  flex-direction: row;
}

div.filters_mobile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.fixed_column_left {
	display: none;
}

.column_right {
	width: 100%;
  margin-left: 0;
}

}
