@charset "UTF-8";

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

dt {
  float: left;
  width: 35%;
  margin: 0;
  border-bottom: 1px solid #BFC5C6;
  height: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

dd {
  float: left;
  margin: 0;
  border-bottom: 1px solid #BFC5C6;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-inline-start: 0;
  width: 65%;
}

.last-dt {
  border-bottom: none;
}

dd.tyre-label {
  padding-bottom: 0;
}

dd.location_icon::before {
  content: url('../img/location-dark.svg');
  padding-right: 0.3rem;

}

img.tyre-label-image {
  width: 190px;
}
