@charset "UTF-8";



.neptune-accordion .neptune-accordion__handle, .neptune-accordion-two {
  margin: 0;
  padding: 0;
  border: 0;
}

.neptune-accordion__handle button {
  border: 0;
  background-color: #fff;
  color: #000000;
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position:relative;
}

.neptune-accordion__handle button:hover {
  outline: 2px solid transparent;
  background-color: #F4F5F6;
}


.neptune-accordion__handle button:focus {
  outline: none;
  z-index: 9999;
}

.neptune-accordion__handle svg {
  margin-left: 0.5rem;
  flex-shrink: 0;
  transform: rotate(0deg);
  transition: transform .2s ease-in-out;
  transform-origin: center center;;
}

.neptune-accordion__handle [aria-expanded="true"] svg {
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
  transform-origin: center center;
}

.neptune-accordion__handle, .neptune-accordion__drawer {
  margin: 0;
  padding: 0; 
}

.neptune-accordion > * {
  border: 1px solid #E3E4E5;
  border-radius: 4px;
}

.neptune-accordion > * + * {
  border-top: 0; 
}

.neptune-accordion-two > * {
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b; 
}

.neptune-accordion-two > * + * {
  border-top: 0; 
}

.neptune-accordion__handle button, .neptune-accordion__drawer {
  padding: 1rem 1.5rem 1rem 1.5rem; 
}

.neptune-accordion__drawer {
  background-color: #ffffff; 
}


.neptune-accordion__controls {
  text-align: right;
  margin: 0.5rem 0; 
}

.neptune-accordion__controls button:focus {
  outline:none; 
}

.neptune-accordion__controls button + button {
  margin-left: 0.5rem; 
}

