input {
	overflow:visible;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

fieldset {
	width:100%;
}

input[type=number],input[type=text]{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

label {
	cursor: text;
}

.field {
	position:relative;
	margin-top:0;
	margin-bottom:1.5rem;
	font-size:1rem;
	vertical-align:top;
}

.field-group {
	margin-bottom:-1.5rem;
	font-size:0;
}

.field-group .field:not(:last-child) {
	margin-right:1rem;
}

.field__other {
	display:none;
	clear:both;
	padding:0 .5rem .5rem;
	background-color:#f0f0f0;
}

.input-type__inner {
	display:-webkit-inline-box;
	display:inline-flex;
	position:relative;
}

.input-type {
	z-index:1;
	-webkit-box-flex:1;
	flex:1 1 auto;
	position:relative;
}

.input-type:focus {
	-webkit-box-shadow:none;box-shadow:none;
}

.input-type__type[title] {
	display:block;
	-webkit-box-flex:0;
	flex:0 0 auto;
	padding:.38911rem 1rem;
	border:1px solid #222;
	background-color:#f0f0f0;
	font-size:1rem;
	font-weight:600;
	line-height:normal;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
}



.input-type:not(.input-type--prefix) {
	border-left:0;
	border-radius:0 3px 3px 0;
}

.input-type:not(.input-type--prefix) {
	border-radius:3px 0 0 3px;
}

.input-type--prefix {
	-webkit-box-ordinal-group:1;
	order:0;
	border-right:0;
	border-radius:3px 0 0 3px;
}

.input-type--prefix {
	-webkit-box-ordinal-group:2;
	order:1;
	border-radius:0 3px 3px 0;
}

.input {
	display:block;
	position:relative;
	padding:.563rem .5rem;
	border:1px solid #6E7272;
	border-radius:3px;
	color:#000000;
	font-family:inherit;
	font-size:1rem;
	line-height:1rem;
	width: 19.5rem;
}

.input:hover {
	border:1px solid #000000;
}

.input--floating {
	display:block;
	position:relative;
	font-family:inherit;
	line-height:1rem;
	width: 19.5rem;
}

.input--floating-wide {
	display:block;
	position:relative;
	font-family:inherit;
	line-height:1rem;
	width: 100%;
}

.input::-ms-clear {
	display:none;
}

.input--text,.input--textarea {
	-webkit-appearance:none;
	cursor: auto;
}

.checkbox__input:focus+.checkbox__label:before,.checkbox__input:focus+.radio__label:before,.input:focus,.radio__input:focus+.checkbox__label:before,.radio__input:focus+.radio__label:before {
	outline:none;
	outline-offset:-1px;
	border:1px solid #005FC6;
	-webkit-box-shadow:0 0 0 1px #005FC6;
	box-shadow:0 0 0 1px #005FC6;
}

.input--postcode {
	width:100%;
	max-width:calc(7.5425rem + 4px);
}

.input__helper {
	margin-top:.2rem;
	font-size:.8rem;
	font-weight:600;
}

.input--select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding:.5rem 2rem .5rem .5rem;
	background:#fff url(../img/icons/icons--chevron-down.svg) no-repeat center right 10px;
	background-size:1rem;
}

.input--select::-ms-expand {
	display:none;
}

.input--textarea {
	width:100%;
	line-height:normal;
	resize:vertical;
}

.input--block {
	display:block;
	width:100%;
}

.input--placeholder {
	background:transparent;
}

.input--placeholder::-webkit-input-placeholder {
	color:transparent;
}

.input--placeholder::-moz-placeholder {
	color:transparent;
}

.input--placeholder:-ms-input-placeholder {
	color:transparent;
}

.input--placeholder::-ms-input-placeholder {
	color:transparent;
}

.input--placeholder::placeholder {
	color:transparent;
}

.input--placeholder:focus,.input--placeholder:valid {
	background:#fff;
}

.input--limit-reached {
	border:1px solid #d0021b;
}

.input--limit-reached:focus {
	outline:1px solid #d0021b;
}

.input__limit {
	display:block;
}

.input__limit--reached {
	color:#d0021b;
}

.fieldset__legend,.label {
	display:block;
	margin-bottom:.4rem;
	font-weight:600;
	color: #000000;
}

.label .fieldset__description, .label__description {
	display:inline-block;
	line-height:1.4;
	font-size: 0.875rem;
	font-weight: 400;
	color: #4b4b4b;
}

.label--placeholder {
	position:absolute;
	top:6px;
	left:8px;
	font-size:1rem;
	font-weight:400;
}

.floating label {
  color: #4b4b4b;
  font-size: 1rem;
  left: .75rem;
  position: absolute;
  top: 0.9rem;
  transition: all 0.1s linear;
  font-weight: 400;
}

.floating input {
  background-color: transparent;
  border: none;
  border: 1px solid #6E7272;
  color: #000000;
  font-size: 1rem;
  padding: 0.938rem 0.5rem;
  border-radius: 3px;
}

.floating input:hover {
  border: 1px solid #000000;
  color: #000000;
}

 .floating input + label.show {
  border-radius: 4px;
  color: #4b4b4b;
  font-size: 0.875rem;
  left: .75em;
  padding: 0 0.15rem;
  top: -0.52rem;
  background-color: #ffffff;
}

.floating input:focus + label {
  color: #005FC6;
  font-size: 0.875rem;
  left: .75em;
  padding: 0 0.15rem;
  top: -0.52rem;
  background-color: #ffffff;
}

 .floating input:focus {
  border-color: #005FC6;
}

.u-vh,.u-visuallyhidden {
border:0;
clip:rect(0 0 0 0);
height:1px;
margin:-1px;
overflow:hidden;
padding:0;
position:absolute;
width:1px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}

input:focus::placeholder {
  color: transparent;
}

@media only screen and (max-width:500px){

.input--floating, .input {
	width: 100%;
}


}




