.list {
  margin:0 0 1rem;
  padding:0 0 0 1.5rem;
}

.list__item {
  margin-bottom: 0.5rem;
}

.list__item:last-child {
  margin:0;
}

.list--bare,.list--dashed,.list--prefix {
  padding-left:0;
  list-style:none;
}

.list--spacious .list__item {
  margin:0 0 1.5rem;
}

.list--dashed .list__item {
  position:relative;
  margin-left:25px;
}

.list--dashed .list__item:before {
  content:"";
  position:absolute;
  left:0;
  top:14px;
  width:15px;
  border-top:1px solid #222;
  margin-left:-25px
}

.list--inline {
  margin:0 -1rem;
}

.list--inline .list__item {
  display:inline-block;
  margin:0 1rem
}

.list--prefix .list__prefix {
  float:left;
  margin:0 .5rem 0 0;
  font-weight:700;
}

.list--prefix .list__link {
  display:block;
  overflow:hidden
}

.icon--check:before {
  background-image:url(../img/icons--check.svg);
  margin:0 .5rem 0 0
}

.icon--check-green:before,.icon--check:before {
  display:inline-block;
  width:1.75rem;height:1.75rem;
  background-repeat:no-repeat;
  background-size:1.75rem 1.75rem;
  content:"";
  vertical-align:middle;
  -webkit-transform:none;
  transform:none;
}

.icon--check-green:before {
  background-image:url(../../img/icons--check-green.svg);
  margin:0 0.75rem 0 0;
}





