.u-fs-xxxl {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000000;
}

.u-fs-xxl, h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000000;
}

.u-fs-xl, h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}

.u-fs-l, h3 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}

.u-fs-m, h4 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.4;
    color: #000000;
}

.u-fs-s {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
}

.u-fs-s-b {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
}

.u-fs-body-b {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  color: #000000;
}

.u-fs-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #4b4b4b;
}

.u-fs-xs-b {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  color: #000000;
}

.u-fs-xs {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  color: #4b4b4b;
}

.u-fs-xxs {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4;
  color: #4b4b4b;
}

.u-fw-700 {
  font-weight: 700;
}

.u-fw-600 {
  font-weight: 600;
}

.u-fw-400 {
  font-weight: 400;
}

.u-fs-i {
  font-style: italic;
}

.u-tt-u {
  text-transform: uppercase;
}

.u-td-no,
.u-td-no:hover {
  text-decoration: none;
}

.u-white {
  color: #FFFFFF;
}

.u-dark {
  color: #000000;
}

.u-ta-right {
  text-align: right;
}

.u-ta-left {
  text-align: left;
}

.u-ta-center {
  text-align: center;
}


@media only screen and (max-width:768px) {

  .u-fs-xxxl {
      font-size: 2.625rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl, h1 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl, h2 {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000000;
  }

  .u-fs-l, h3 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000000;
  }

  .u-fs-m, h4 {
      font-size: 1.25rem;
  }

}

@media only screen and (min-width:300px) {

  .u-fs-xxxl\@xs {
      font-size: 2.625rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl\@xs {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl\@xs {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-l\@xs {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-m\@xs {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-s\@xs {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      color: #4b4b4b;
  }

  .u-fs-s-b\@xs {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.4;
      color: #4b4b4b;
  }

  .u-fs-body-b\@xs {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-body\@xs {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-xs-b\@xs {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-xs\@xs {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-xxs\@xs {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
  }

}

@media only screen and (min-width:500px) {

  .u-fs-xxxl\@s {
      font-size: 2.625rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl\@s {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl\@s {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-l\@s {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-m\@s {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-s\@s {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      color: #4b4b4b;
  }

  .u-fs-s-b\@s {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.4;
      color: #4b4b4b;
  }

  .u-fs-body-b\@s {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-body\@s {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-xs-b\@s {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-xs\@s {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
  }

  .u-fs-xxs\@s {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4b4b4b;
  }

}

@media only screen and (min-width:768px) {

  .u-fs-xxxl\@m {
      font-size: 3.25rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl\@m {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl\@m {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-l\@m {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-m\@m {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s\@m {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s-b\@m {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-body-b\@m {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-body\@m {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs-b\@m {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs\@m {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xxs\@m {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

}

@media only screen and (min-width:1024px) {

  .u-fs-xxxl\@l {
      font-size: 3.25rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl\@l {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl\@l {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-l\@l {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-m\@l {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s\@l {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s-b\@l {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-body-b\@l {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-body\@l {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs-b\@l {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs\@l {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xxs\@l {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

}

@media only screen and (min-width:1280px) {

  .u-fs-xxxl\@xl {
      font-size: 3.25rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl\@xl {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl\@xl {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-l\@xl {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-m\@xl {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s\@xl {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s-b\@xl {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-body-b\@xl {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-body\@xl {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs-b\@xl {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs\@xl {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xxs\@xl {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

}

@media only screen and (min-width:1600px) {

  .u-fs-xxxl\@xxl {
      font-size: 3.25rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xxl\@xxl {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-xl\@xxl {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;
  }

  .u-fs-l\@xxl {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 1.4;
      color: #000000;
  }

  .u-fs-m\@xxl {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s\@xxl {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-s-b\@xxl {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.4;
      color: #4B4B4B;
  }

  .u-fs-body-b\@xxl {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-body\@xxl {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs-b\@xxl {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xs\@xxl {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

  .u-fs-xxs\@xxl {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B4B4B;
  }

}
