<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Checkbox example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<fieldset class="fieldset">
  <legend class="fieldset__legend">Which data values would you like to append?</legend>
    <div class="checkbox__items">
      <p class="checkbox__item">
        <input type="checkbox" id="name" class="checkbox__input" value="name">
        <label id="name-label" class="checkbox__label" for="name">Name</label>
      </p>
      <p class="checkbox__item">
        <input type="checkbox" id="date-of-birth" class="checkbox__input" value="date-of-birth">
        <label id="date-of-birth-label" class="checkbox__label" for="date-of-birth">Date of birth</label>
      </p>
      <p class="checkbox__item">
        <input type="checkbox" id="address" class="checkbox__input" value="address">
        <label id="address-label" class="checkbox__label" for="address">Address</label>
      </p>
   </div>
</fieldset>
					
</body>
</html>
