<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Small checkbox inline example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<fieldset class="fieldset">
  <legend class="fieldset__legend">Filter your results by category type</legend>
    <div class="checkbox__items-inline">
      <p class="checkbox__item">
        <input type="checkbox" id="adverse-media" class="checkbox-small__input" value="adverse-media">
        <label id="adverse-media-label" class="checkbox-small__label" for="adverse-media">Adverse media</label>
      </p>
      <p class="checkbox__item">
        <input type="checkbox" id="enforcement" class="checkbox-small__input" value="enforcement">
        <label id="enforcement-label" class="checkbox-small__label" for="enforcement">Enforcement</label>
      </p>
      <p class="checkbox__item">
        <input type="checkbox" id="sanction-list" class="checkbox-small__input" value="sanction-list">
        <label id="sanction-list-label" class="checkbox-small__label" for="sanction-list">Sanction list</label>
      </p>
    </div>
</fieldset>
					
</body>
</html>
