<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Accordion example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<a href="" class="secondary-link u-mr-xl">Secondary link inline</a>
<a href="" class="secondary-link-standalone">Secondary link standalone</a>

<script type="text/javascript" src="../../js/focus.js"></script>
					
</body>
</html>
