<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Header – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../css/master.css" media="all">
</head>

<body>

<header>
	<div class="navbar">
		<div class="ds-hero" id="navbar">
			<div class="container container--full-width">
				<div class="grid">
	    			<div class="grid__col col-3@m">
						<a href="../index.html"><img src="../img/lexis-icon.svg" class="lexis-icon" alt="Neptune"></a>
					</div>
					<div class="grid__col col-9@m">
						<div class="topnav">
							<div class="topnav-right">
								<a href="../index.html">Home</a>
								<a href="../styles.html">Styles</a>
								<a href="../components.html" class="active">Components</a>
								<a href="../patterns.html">Patterns</a>
								<a href="">Accessibility</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="sidenav">
	  <a href="accordion.html">Accordion</a>
	  <a href="buttons.html">Buttons</a>
	  <a href="checkbox.html">Checkbox</a>
	  <a href="footer.html">Footer</a>
	  <a href="" class="active">Header</a>
	  <a href="links.html">Links</a>
	  <a href="radio-button.html">Radio button</a>
	  <a href="text-input.html">Text input</a>
	</div>
</section>

<main>
	<div class="main">
		<div class="sidenav-container">
			<div class="ds-article">
				<nav aria-label="Breadcrumb" class="u-mt-l">
					<ol class="breadcrumb">
					  <li><a href="../index.html">Home</a></li>
					  <li><a href="../components.html">Components</a></li>
					  <li class="bc-active">Header</li>
					</ol>
				</nav>
				<section>
					<div class="ds-para">
						<h1 class="u-mt-l u-fs-xxxl">Header</h1>
						<p class="u-fs-s">The header shows users which product they are using.</p>
					</div>
					<div class="seperator u-mt-l"></div>
				</section>
				<section>
					<p class="u-fs-m u-dark u-fw-600 u-mt-l">Contents</p>
					<ol class="list list--bare u-mt-s">
						<li class="list__item"><a href="#section1">Simple header</a></li>
						<li class="list__item"><a href="#section2">Header with navigation</a></li>
						<li class="list__item"><a href="#section3">Header with credit information</a></li>
						<li class="list__item"><a href="#section4">Usage guidance</a></li>
						<li class="list__item"><a href="#section5">Accessibility</a></li>
						<li class="list__item"><a href="#section6">Related research</a></li>
					</ol>
				<div class="seperator u-mt-l"></div>
				</section>

				<section>
					<div class="ds-para">
						<a id="section1"></a>
						<h2 class="u-mt-l u-fs-xl">Simple header</h2>
						<p class="u-fs-body">Use the text input component when you need to let users enter information that is no longer than one line.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/text-input-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						
					</div>
					<div class="toggle">
						<button onclick="myFunction('button1'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button1">
						
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>
				
          <section>
            <div class="ds-para">
              <a id="section4"></a>
              <h2 class="u-mt-l u-fs-xl">Usage guidance</h2>
              
          <div class="seperator u-mt-xl"></div>

					<section>
						<div class="ds-para inline-code">
							<a id="section5"></a>
								<h2 class="u-mt-l u-fs-xl">Accessibility</h2>
			            </div>

					</section>

					<div class="seperator u-mt-xl"></div>

					<section>
						<div class="u-mb-xl">
							<a id="section6"></a>
							<h2 class="u-mt-l u-fs-xl">Related research</h2>
						</div>
					</section>

					</div>

				</section>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../js/show-hide.js"></script>
<script type="text/javascript" src="../js/focus.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="../js/floating-label.js"></script>

</body>
</html>
