<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Text input – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../css/master.css" media="all">
</head>

<body>

<header>
	<div class="navbar">
		<div class="ds-hero" id="navbar">
			<div class="container container--full-width">
				<div class="grid">
	    			<div class="grid__col col-3@m">
						<a href="../index.html"><img src="../img/lexis-icon.svg" class="lexis-icon" alt="Neptune"></a>
					</div>
					<div class="grid__col col-9@m">
						<div class="topnav">
							<div class="topnav-right">
								<a href="../index.html">Home</a>
								<a href="../styles.html">Styles</a>
								<a href="../components.html" class="active">Components</a>
								<a href="../patterns.html">Patterns</a>
								<a href="">Accessibility</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="sidenav">
	  <a href="accordion.html">Accordion</a>
	  <a href="buttons.html">Buttons</a>
	  <a href="checkbox.html">Checkbox</a>
	  <a href="footer.html">Footer</a>
	  <a href="header.html">Header</a>
	  <a href="links.html">Links</a>
	  <a href="radio-button.html">Radio button</a>
	  <a href="" class="active">Text input</a>
	</div>
</section>

<main>
	<div class="main">
		<div class="sidenav-container">
			<div class="ds-article">
				<nav aria-label="Breadcrumb" class="u-mt-l">
					<ol class="breadcrumb">
					  <li><a href="../index.html">Home</a></li>
					  <li><a href="../components.html">Components</a></li>
					  <li class="bc-active">Text input</li>
					</ol>
				</nav>
				<section>
					<div class="ds-para">
						<h1 class="u-mt-l u-fs-xxxl">Text input</h1>
						<p class="u-fs-s">Text inputs enable users to enter alphanumeric information within a form.</p>
					</div>
					<div class="seperator u-mt-l"></div>
				</section>
				<section>
					<p class="u-fs-m u-dark u-fw-600 u-mt-l">Contents</p>
					<ol class="list list--bare u-mt-s">
						<li class="list__item"><a href="#section1">Standard text input</a></li>
						<li class="list__item"><a href="#section2">Floating label input</a></li>
						<li class="list__item"><a href="#section3">Variants</a></li>
						<li class="list__item"><a href="#section4">Usage guidance</a></li>
						<li class="list__item"><a href="#section5">Accessibility</a></li>
						<li class="list__item"><a href="#section6">Related research</a></li>
					</ol>
				<div class="seperator u-mt-l"></div>
				</section>

				<section>
					<div class="ds-para">
						<a id="section1"></a>
						<h2 class="u-mt-l u-fs-xl">Standard text input</h2>
						<p class="u-fs-body">Use the text input component when you need to let users enter information that is no longer than one line.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/text-input-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<p class="field u-mb-s">
						  <label class="label" for="text">Enter some text</label>
						  <input type="text" id="text" class="input input--text"/>
						</p>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button1'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button1">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"field"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"text"</span>&gt;</span>Enter some text<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--text"</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para">
						<a id="section2"></a>
						<h2 class="u-mt-l u-fs-xl">Floating label input</h2>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/floating-input-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<p class="field floating u-mb-s u-mt-xs">
					      <input type="text" id="more-text" class="input--floating input--text">
					      <label for="more-text">Enter some text</label>
					    </p>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button2'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button2">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"field floating"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input--floating input--text"</span>/&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"text"</span>&gt;</span>Username<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para inline-code">
						<a id="section3"></a>
						<h2 class="u-mt-l u-fs-xl">Variants</h2>
						<h3 class="u-fs-m u-mt-s">Descriptions</h3>
						<p class="u-fs-body">Example of a description or hint placed under the label outside the input field.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/input-description-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<p class="field">
						  <label class="label" for="description-text">Enter some text
							<br>
						    <span class="label__description">
						    Description or hint text</span>
						  </label>
						  <input type="text" id="description-text" class="input input--text"/>
						</p>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button3'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button3">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"field"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"text"</span>&gt;</span>Enter some text
    <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label__description"</span>&gt;</span>Example description hint text<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--text"</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
					</div>

					<div class="ds-para inline-code">
					<h3 class="u-fs-m u-mt-l">Placeholders</h3>

						<p class="u-fs-body">Example of placeholder hint text inside the input field. Use the <code>u-vh</code> attribute to convey this information to screen reader users as well.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/input-placeholder-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<p class="field">
						  <label class="label" for="description-text">Enter some text
						    <span class="label__description u-vh">Placeholder text</span>
						  </label>
						  <input type="text" id="description-text" class="input input--text" placeholder="Placeholder text"/>
						</p>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button4'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button4">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"field"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"text"</span>&gt;</span>Enter some text
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label__description u-vh"</span>&gt;</span>Placeholder text<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--text"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Placeholder text"</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
					</div>
			
			
					<div class="ds-para inline-code">
						<h3 class="u-fs-m u-mt-l">Email</h3>
						<p class="u-fs-body">Setting <code>autocomplete="email"</code> will bring up the correct keypad on touch devices.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/email-input-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<p class="field">
						  <label class="label" for="email">Email address</label>
						  <input type="email" id="email" class="input input--text" autocomplete="email"/>
						</p>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button5'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button5">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"field"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"email"</span>&gt;</span>Email address<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--text"</span> <span class="hljs-attr">autocomplete</span>=<span class="hljs-string">"email"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
					</div>
					<div class="ds-para inline-code">
						<h3 class="u-fs-m u-mt-l">Telephone</h3>
						<p class="u-fs-body">Setting <code>autocomplete="tel"</code> will bring up the correct keypad on touch devices.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/telephone-input-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<p class="field">
						  <label class="label" for="telephone">Phone number</label>
						  <input type="tel" id="telephone" class="input input--text" autocomplete="tel"/>
						</p>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button6'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button6">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"field"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"telephone"</span>&gt;</span>Phone number<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"tel"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"telephone"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"input input--text"</span> <span class="hljs-attr">autocomplete</span>=<span class="hljs-string">"tel"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

          <section>
            <div class="ds-para">
              <a id="section4"></a>
              <h2 class="u-mt-l u-fs-xl">Usage guidance</h2>
              <h3 class="u-mt-m u-fs-m">When to use the standard text input</h3>
			  <p class="u-fs-body">The standard text input is the default version and should be used in instances when there's a large number of form fields – on a product search page for example.</p>
			  <p class="u-fs-body">The bolder text outside of the input area will help users pick out information on the page and will eradicate inconsistencies in labelling when used in conjunction with other form elements.</p> 
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-standard-input.svg" alt="Standard input example">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-standard-input.svg" alt="Standard input example">
				</div>
			</div>
            
			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">When to use the floating label text input</h3>
              <p class="u-fs-body">Text inputs with floating labels can be used in instances when there's only one or two form fields for a user to complete – on a sign in page for example.</p> 
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-floating-labels.svg" alt="Floating label example">
				</div>
			</div>

			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">Always place the label above the input field</h3>
              <p class="u-fs-body">Floating text labels to the left of input fields disrupts the natural reading pattern and makes it harder for the end user to find the beginning of the next line. </p>
              <p class="u-fs-body">Aligning labels to the left of input fields can cause problems with layout. They don't work well with long labels and there's no room to provide a description if needed. </p>
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-left-align-input.svg" alt="Left align input and label example">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-left-align-input.svg" alt="Left align input and label example">
				</div>
			</div>
			
          </section>

          <div class="seperator u-mt-xl"></div>

					<section>
						<div class="ds-para inline-code">
							<a id="section5"></a>
								<h2 class="u-mt-l u-fs-xl">Accessibility</h2>
								<h3 class="u-mt-m u-fs-m">Don't replace a label with placeholder text</h3>
								<p class="u-fs-body">While placeholder text provides valuable guidance for many users, placeholder text is not a replacement for labels. Assistive technologies, such as screen readers, do not treat placeholder text as labels. Placeholder text is not broadly supported across assistive technologies and not displayed in some older web browsers.</p>
								<p class="u-fs-body">Form fields should have visible and persistent labels. Without labels, users cannot check their work before submitting a form and it can also put a strain on short-term memory if validation errors occur.</p>
			            </div>
			            <div class="grid u-mt-m">
							<div class="grid__col col-6@m">
								<img src="../img/do-placeholders.svg" alt="Input label placeholder text example">
							</div>
							<div class="grid__col col-6@m">
								<img src="../img/dont-placeholders.svg" alt="Input label placeholder text example">
							</div>
						</div>

					</section>

					<div class="seperator u-mt-xl"></div>

					<section>
						<div class="u-mb-xl">
							<a id="section6"></a>
							<h2 class="u-mt-l u-fs-xl">Related research</h2>
							<p class="u-fs-body u-dark u-fw-600">Form design placeholders<br>
							<a href="https://www.nngroup.com/articles/form-design-placeholders/">https://www.nngroup.com/articles/form-design-placeholders/</a></p>
							<p class="u-fs-body u-dark u-fw-600">Floating labels are problematic<br>
							<a href="https://medium.com/simple-human/floating-labels-are-a-bad-idea-82edb64220f6">https://medium.com/simple-human/floating-labels-are-a-bad-idea-82edb64220f6</a></p>
							<p class="u-fs-body u-dark u-fw-600">Are Float Labels Really That Problematic After All?<br>
							<a href="https://medium.com/bymds/are-float-labels-really-that-problematic-after-all-da7ffe7d5417">https://medium.com/bymds/are-float-labels-really-that-problematic-after-all-da7ffe7d5417</a></p>
							<p class="u-fs-body u-dark u-fw-600">W3C from instructions<br>
							<a href="https://www.w3.org/WAI/tutorials/forms/instructions/">https://www.w3.org/WAI/tutorials/forms/instructions/</a></p>
							<p class="u-fs-body u-dark u-fw-600">W3C labeling controls<br>
							<a href="https://www.w3.org/WAI/tutorials/forms/labels/">https://www.w3.org/WAI/tutorials/forms/labels/</a></p>

						</div>
					</section>

					</div>

				</section>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../js/show-hide.js"></script>
<script type="text/javascript" src="../js/focus.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="../js/floating-label.js"></script>

</body>
</html>
