a .card {
  background-color: #ffffff;
  width: 100%;
  height: 12rem;
  box-sizing: border-box;
  padding: 1.5rem;
  color: #000000;
}

.card-container a {
  text-decoration: none;
}

a .card:hover {
 
  background-color: #EE020A;
  text-decoration: none;
  color: #FFFFFF;
}

.card_image {
  background-color: #25baaf;
  min-height: 17rem;
  padding: 2rem 2rem 2rem 2.5rem;
}

.card_image_portrait {
  background-color: #EE020A;
  position: relative;
  width: 100%;
  padding-top: 10%;
  box-sizing: border-box;
}

.card_image_dark {
  background-color: #222222;
  min-height: 17rem;
  padding: 2rem;
}

.card_image_portrait_dark {
  background-color: #222222;
  position: relative;
  width: 100%;
  padding-top: 10%;
  box-sizing: border-box;
}

.card_content {
  background-color: #FFFFFF;
  min-height: 17rem;
  padding: 2rem 2rem 2rem 2.5rem;
}

.card_content_portrait {
  background-color: #FFFFFF;
  min-height: 13rem;
  padding: 1rem 1rem 1rem 1.5rem;
}

.type-image {
  width: 20rem;
  padding-top: 1.8rem;
}

.colour-image {
  width: 17rem;
  padding-top: 4.5rem;
}

.checkbox-image, .radio-image {
  width: 17rem;
  padding-top: 3rem;
}

.button-image {
  width: 20rem;
  padding-top: 6rem;
}

.card-image-portrait {
  width: 70%;
  padding-bottom: 10%;
}

.accordion-image {
  width: 19rem;
  padding-top:2.25rem;
}

.grid-image {
  width: 28rem;
}

.icon-image {
  width: 24rem;
  padding-top: 4.5rem;
}

.link-image {
  width: 22rem;
  padding-top: 4.75rem;
}

.input-image {
  width: 18rem;
  padding-top: 3rem;
}

.branding-image {
  width: 10rem;
  padding-top: 3.5rem;
}

.styles-image {
  width: 21rem;
  padding-top: 5rem;
}

.components-image {
  width: 21rem;
  padding-top: 3.75rem;
}

.accessibility-image {
  width: 17rem;
  padding-top: 3.5rem;
}

.error-image {
  width: 22rem;
  padding-top: 3.5rem;
}
