.ds-hero {
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #EAEAEA;
	background-color: #ffffff;
}

.lexis-icon {
	height: 2.5rem;
	padding: 1rem 0 0 0rem;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main {
	margin-top: 100px;
}

.topnav {
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 72px;
}

.topnav a {
  float: left;
  color: #4B4B4B;
  text-align: center;
  padding: 24px 28px;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}

.topnav a:hover {
  background-color: #f5f5f5;
  color: #000000;
  border-bottom: 4px solid #25baaf;
}

.topnav a.active {
  color: #000000;
  border-bottom: 4px solid #25baaf;
}

.topnav-right {
  float: right;
}

.ds-hero-white {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

.ds-hero-grey {
	width: 100%;
	margin: 0;
	background-color: #f5f5f5;
  padding: 2rem 0;
}

.title {
	font-size: 78px;
	color: #000000;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 72px;
} */
