.type-scale table {
  border-spacing: 0;
  width: 100%;
}

.type-scale td {
  padding: 1rem 2rem;
}

.type-scale th {
  padding: 1rem 2rem;
  width: 50%;
}

.heading-scale table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 0;
}

.heading-scale td {
  padding: 1rem 2rem;
}

.heading-scale th {
  padding: 1rem 2rem;
}

.grey-row {
  background-color: #F5F5F5;
}

.u-fs-xxxl-table {
  font-size: 2.625rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.u-fs-xxl-table {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.u-fs-xl-table {
  font-size: 1.625rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.u-fs-l-table {
  font-size: 1.375rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.4;
}

.u-fs-m-table {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    line-height: 1.4;
}

.colour-accessibility table {
  border-spacing: 0;
  width: 100%;
}

.colour-accessibility td {
  padding: 1rem 2rem;
}

.colour-accessibility th {
  padding: 1rem 2rem;
}
