.tab {
  overflow: hidden;
  background-color: #FFFFFF;
}

.tab button {
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  transition: 0.3s;
  border-radius: 2rem;
  color: #000000;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
}

.tab button:hover {
  background-color: #E3E4E5;
}

.tab button.active {
  background-color: #364147;
  color: #FFFFFF;
}