<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Accordion open all example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<div class="container">
  <div class="grid">
    <div class="grid__col">
      <div class="neptune-accordion__controls">
        <button type="button" class="btn btn--filled u-mb-xs u-mt-xs btn--small" id="openAll">Open all</button>
        <button type="button" class="btn btn--filled u-mb-xs u-mt-xs btn--small" id="closeAll">Close all</button>
      </div>
    	<div class="neptune-accordion">
		  <div id="first-item">
		    <h3 class="u-fs-s">First item</h3>
	      <p class="u-fs-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		  </div>
		  <div id="second-item">
		    <h3 class="u-fs-s">Second item</h3>
		      <p class="u-fs-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		  </div>
		  <div id="third-item">
		    <h3 class="u-fs-s">Third item</h3>
	      <p class="u-fs-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		  </div>
		</div>
	</div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.neptune && neptune.Accordion.init();

    var accordionElem = document.querySelector('.neptune-accordion');
    var accordion = new neptune.Accordion.constructor(accordionElem);

    var openAllButton = document.getElementById('openAll');
    openAllButton.addEventListener('click', function () {
      accordion.openAll();
    });

    var closeAllButton = document.getElementById('closeAll');
    closeAllButton.addEventListener('click', function () {
      accordion.closeAll();
    });
  });
</script>

<script type="text/javascript" src="../../js/accordion.js"></script>
<script type="text/javascript" src="../../js/focus.js"></script>
					
</body>
</html>
