<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Large checkbox example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<fieldset class="fieldset">
  <legend class="fieldset__legend">Which contact details would you like to append?</legend>
    <div class="checkbox__items">
      <p class="checkbox-large__item">
        <span class="checkbox">
          <input type="checkbox" id="landline" class="checkbox-large__input" value="landline">
          <label id="landline-label" class="checkbox-large__label" for="landline">Landline</label>
        </span>
      </p>
      <p class="checkbox-large__item">
        <span class="checkbox">
          <input type="checkbox" id="mobile" class="checkbox-large__input" value="mobile">
          <label id="mobile-label" class="checkbox-large__label" for="mobile">Mobile number</label>
        </span>
      </p>
      <p class="checkbox-large__item">
        <span class="checkbox">
          <input type="checkbox" id="email" class="checkbox-large__input" value="email">
          <label id="email-label" class="checkbox-large__label" for="email">Email address</label>
        </span>
      </p>
    </div>
</fieldset>
					
</body>
</html>
