<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Large checkbox inline example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<fieldset class="fieldset">
  <legend class="fieldset__legend">Filter your results by category type</legend>
    <div class="checkbox__items">
      <p class="checkbox-large__item-inline">
        <span class="checkbox">
          <input type="checkbox" id="soe" class="checkbox-large__input" value="soe">
          <label id="soe-label" class="checkbox-large__label" for="soe">State Owned Enteprises</label>
        </span>
      </p>
      <p class="checkbox-large__item-inline">
        <span class="checkbox">
          <input type="checkbox" id="pep" class="checkbox-large__input" value="pep">
          <label id="pep-label" class="checkbox-large__label" for="pep">PEP</label>
        </span>
      </p>
      <p class="checkbox-large__item-inline">
        <span class="checkbox">
          <input type="checkbox" id="influential-person" class="checkbox-large__input" value="influential-person">
          <label id="influential-person-label" class="checkbox-large__label" for="influential-person">Influential person</label>
        </span>
      </p>
    </div>
</fieldset>
					
</body>
</html>
