<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Small checkbox example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<fieldset class="fieldset">
  <legend class="fieldset__legend">Which data values would you like to append?</legend>
  <div class="checkbox__items">
      <p class="checkbox__item">
          <input type="checkbox" id="name2" class="checkbox-small__input" value="name2">
          <label id="name-label2" class="checkbox-small__label" for="name2">Full name</label>
      </p>
      <p class="checkbox__item">
          <input type="checkbox" id="date-of-birth2" class="checkbox-small__input js-checkbox" value="date-of-birth2">
          <label id="date-of-birth-label2" class="checkbox-small__label" for="date-of-birth2">Date of birth</label>
      </p>
      <p class="checkbox__item">
          <input type="checkbox" id="address2" class="checkbox-small__input" value="address2">
          <label id="address-label2" class="checkbox-small__label" for="address2">Address</label>
      </p>
    </div>
</fieldset>
					
</body>
</html>
