<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Floating label input – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<p class="field floating u-mb-s u-mt-xs">
  <input type="text" id="more-text" class="input--floating input--text">
  <label for="more-text">Enter some text</label>
</p>
					
</body>
</html>
