<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Footer example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
</head>

<body>	

<footer class="footer">
	<div class="container">
	  <div class="grid">
	    <div class="grid__col col-8@m">
	      <div class="footer--links">
			<ul class="list list--bare list--inline">
			  <li class="list__item u-white u-fs-xs">Copyright &#169; 2020 LexisNexis Risk Solutions</li>
			  <li class="list__item"><a href="#">Terms & Conditions</a></li>
			  <li class="list__item"><a href="#">Privacy Policy</a></li>
			  <li class="list__item"><a href="#">Legal</a></li>
			</ul>
		  </div>
	    </div>
	    <div class="grid__col col-4@m">
	      <img src="../../img/RELX-logo.svg" class="relx--logo" alt="RELX">
	    </div>
	  </div>
	</div>
</footer>
					
</body>
</html>
