<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Text input placeholder – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<p class="field">
  <label class="label" for="description-text">Enter some text
    <span class="label__description u-vh">Placeholder text</span>
  </label>
  <input type="text" id="description-text" class="input input--text" placeholder="Placeholder text"/>
</p>
					
</body>
</html>
