<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Small radio button inline example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<fieldset class="fieldset">
  <legend class="fieldset__legend">Please select a search type</legend>
    <div class="radio__items-inline">
      <p class="radio__item">
        <input type="radio" id="business-tracing" class="radio-small__input" value="business-tracing" name="search-type">
        <label id="business-tracing-label" class="radio-small__label" for="business-tracing">Business debtor tracing</label>
      </p>
      <p class="radio__item">
        <input type="radio" id="consumer-tracing" class="radio-small__input" value="consumer-tracing" name="search-type">
        <label id="consumer-tracing-label" class="radio-small__label" for="consumer-tracing">Consumer debtor tracing</label>
      </p>
      <p class="radio__item">
        <input type="radio" id="customer-management" class="radio-small__input" value="customer-management" name="search-type">
        <label id="customer-management-label" class="radio-small__label" for="customer-management">Customer management</label>
      </p>
    </div>
</fieldset>
					
</body>
</html>
