<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Wide button example – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../../css/master.css" media="all">
	<style>body{padding:1.5rem;}</style>
</head>

<body>

<div class="container">
  <div class="grid">
    <div class="grid__col col-4@m">
      <button type="button" class="btn btn--primary btn--wide">Wide button</button>
    </div>
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-4@m">
    </div>
  </div>
</div>
					
</body>
</html>
