<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="../css/master.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

<div class="container">
  <br><br>
  <label for="example" class="label">Option 1</label>
  <input id="example" type="text" autocomplete="off" required="required" class="input input--text">
</div>

<div class="container">
  <br><br>
  <label for="example-two" class="label-500">Option 2</label>
  <input id="example-two" type="text" autocomplete="off" required="required" class="input-second input--text">
</div>

<div class="container">
  <br><br>
  <label for="example-three" class="label">Option 3</label>
  <input id="example-three" type="text" autocomplete="off" required="required" class="input-third input--text">
</div>

<br><br>

<div class="container-light">
  <br><br>
  <label for="example-light" class="label">Option 1</label>
  <input id="example-light" type="text" autocomplete="off" required="required" class="input input--text">

  <br><br>
  <label for="example-two-light" class="label">Option 2</label>
  <input id="example-two-light" type="text" autocomplete="off" required="required" class="input-second input--text">

  <br><br>
  <label for="example-three-light" class="label">Option 3</label>
  <input id="example-three-light" type="text" autocomplete="off" required="required" class="input-third input--text">
  <br><br>
</div>


</body>
</html>
