ol.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

ol.breadcrumb li a {
  color: #4b4b4b;
  text-decoration: none;
}

ol.breadcrumb li a:hover {
  color: #000000;
  text-decoration: underline;
}

.bc-active {
  color: #000000;
  font-weight: 600;
}

.breadcrumb li:not(:last-child):after {
  display: inline-block;
  height: 1.5rem;
  background-image: url(../../img/chevron-right-grey.svg);
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  content: "";
  margin: 0;
  vertical-align: middle;
  width: 1.75rem;
  background-position: 90%;
  margin-top: -3px;
}
