<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Buttons – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../css/master.css" media="all">
</head>

<body>

<header>
	<div class="navbar">
		<div class="ds-hero" id="navbar">
			<div class="container container--full-width">
				<div class="grid">
	    			<div class="grid__col col-3@m">
						<a href="../index.html"><img src="../img/lexis-icon.svg" class="lexis-icon" alt="Neptune"></a>
					</div>
					<div class="grid__col col-9@m">
						<div class="topnav">
							<div class="topnav-right">
								<a href="../index.html">Home</a>
								<a href="../styles.html">Styles</a>
								<a href="../components.html" class="active">Components</a>
								<a href="../patterns.html">Patterns</a>
								<a href="">Accessibility</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="sidenav">
	  <a href="accordion.html">Accordion</a>
	  <a href="" class="active">Buttons</a>
	  <a href="checkbox.html">Checkbox</a>
	  <a href="footer.html">Footer</a>
	  <a href="header.html">Header</a>
	  <a href="links.html">Links</a>
	  <a href="radio-button.html">Radio button</a>
	  <a href="text-input.html">Text input</a>
	</div>
</section>

<main>
	<div class="main">
		<div class="sidenav-container">
			<div class="ds-article">
				<nav aria-label="Breadcrumb" class="u-mt-l">
					<ol class="breadcrumb">
					  <li><a href="../index.html">Home</a></li>
					  <li><a href="../components.html">Components</a></li>
					  <li class="bc-active">Buttons</li>
					</ol>
				</nav>
				<section>
					<div class="ds-para">
						<h1 class="u-mt-l u-fs-xxxl">Buttons</h1>
						<p class="u-fs-s">A button is a fundamental element of an interface that allows users to make choices on a journey. They have the power to compel users to convert or carry out an action on a page. The copy used on the button should be clear, concise and descriptive.</p>
					</div>
					<div class="seperator u-mt-l"></div>
				</section>
				<section>
					<p class="u-fs-m u-dark u-fw-600 u-mt-l">Contents</p>
					<ol class="list list--bare u-mt-s">
						<li class="list__item"><a href="#section1">Primary button</a></li>
						<li class="list__item"><a href="#section2">Secondary buttons</a></li>
						<li class="list__item"><a href="#section3">Call to action</a></li>
						<li class="list__item"><a href="#section4">Disabled button</a></li>
						<li class="list__item"><a href="#section5">Button group</a></li>
						<li class="list__item"><a href="#section6">Icon and text button</a></li>
						<li class="list__item"><a href="#section7">Size variations</a></li>
						<li class="list__item"><a href="#section8">Design guidelines</a></li>
						<li class="list__item"><a href="#section9">Accessibility</a></li>
						<li class="list__item"><a href="#section10">Related research</a></li>
					</ol>
				<div class="seperator u-mt-l"></div>
				</section>

				<section>
					<div class="ds-para">
						<a id="section1"></a>
						<h2 class="u-mt-l u-fs-xl">Primary button</h2>
						<p class="u-fs-body">Primary buttons are used for high emphasis call to actions. Ideally, there should only be one primary call to action button per page.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/primary-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							<button type="submit" class="btn btn--primary u-mb-s u-mt-xs">Primary button</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button1'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button1">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"submit"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary"</span>&gt;</span>Primary button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para">
						<a id="section2"></a>
						<h2 class="u-mt-l u-fs-xl">Secondary buttons</h2>
						<p class="u-fs-body">Secondary buttons are the alternaties we give users to primary actions. Secondary buttons are the ‘go back’ to the primary button’s ‘next’, or the ‘cancel’ button to the ‘submit’ button.</p>
						<p class="u-fs-body">Secondary buttons can also be used for supplementary actions which users take. They can indicate a positive action that isn't necessarily the main call-to-action on a page.</p>
						<h3 class="u-fs-m u-mt-l">Outlined</h3>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/outlined-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							<button type="button" class="btn btn--outlined u-mb-s u-mt-xs">Outlined button</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button2'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button2">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--outlined"</span>&gt;</span>Outlined button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
					<div class="ds-para">
						<h3 class="u-fs-m u-mt-l">Filled</h3>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/filled-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							<button type="button" class="btn btn--filled u-mb-s u-mt-xs">Filled button</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button3'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button3">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--filled"</span>&gt;</span>Filled button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
					<div class="ds-para">
						<h3 class="u-fs-m u-mt-l">Neutral</h3>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/neutral-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							<button type="button" class="btn btn--neutral u-mb-s u-mt-xs">Neutral button</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button4'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button4">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--neutral"</span>&gt;</span>Neutral button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
					
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para">
						<a id="section3"></a>
						<h2 class="u-mt-l u-fs-xl">Call to action</h2>
						<p class="u-fs-body">The call to action button should be used when a link is the primary call to action on a page.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/call-to-action-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							<a href="" role="button" class="btn btn--primary btn--link u-mb-s u-mt-xs">View report</a>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button5'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button5">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary btn--link"</span>&gt;</span>View report<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para inline-code">
						<a id="section4"></a>
						<h2 class="u-mt-l u-fs-xl">Disabled button</h2>
						<p class="u-fs-body">Use with the <code>disabled="true"</code> element attribute for buttons that have no event/action but need to be displayed.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/disabled-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							<button type="button" class="btn btn--primary-disabled u-mb-s u-mt-xs" disabled="true">Disabled button</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button6'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button6">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary-disabled"</span> <span class="hljs-attr">disabled</span>=<span class="hljs-string">"true"</span>&gt;</span>Disabled button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para inline-code">
						<a id="section5"></a>
						<h2 class="u-mt-l u-fs-xl">Button group</h2>
						<p class="u-fs-body">Group two or more buttons together and align them alongside eachother. This will allow for a page to have two actions available to the user such as Continue and Cancel.</p>
					</div>
					
					<div class="example-panel u-mt-m">
						<a href="examples/button-group-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						 	<div class="btn-group u-mb-s u-mt-xs">
							  <button type="button" class="btn btn--primary btn-group__btn">Continue</button>
							  <button type="button" class="btn btn--outlined btn-group__btn">Cancel</button>
							</div>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button7'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button7">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-group"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary btn-group__btn"</span>&gt;</span>Continue<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--outlined btn-group__btn"</span>&gt;</span>Cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para inline-code">
						<a id="section6"></a>
						<h2 class="u-mt-l u-fs-xl">Icon and text button</h2>
						<p class="u-fs-body">Icons work well within buttons when they represent something functional such as 'download' or 'print'. They can clarify an action and call attention to a button.</p>
					</div>
					
					<div class="example-panel u-mt-m">
						<a href="examples/button-icon-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							 <button type="button" class="btn btn--filled btn--print u-mb-s u-mt-xs">Print this report</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button8'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button8">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--filled btn--print"</span>&gt;</span>Print this report<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para inline-code">
						<a id="section7"></a>
						<h2 class="u-mt-l u-fs-xl">Size variations</h2>
						<h3 class="u-fs-m u-mt-m">Small button</h3>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/grid-container-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
							 <button type="submit" class="btn btn--primary btn--small u-mb-s u-mt-xs">Small button</button>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button9'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button9">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary btn--small"</span>&gt;</span>Small button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
					<div class="ds-para inline-code">
						<h3 class="u-fs-m u-mt-l">Wide button</h3>
						<p class="u-fs-body">Wide buttons will fill the width of its container.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/wide-button-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<div class="container">
						  <div class="grid">
						    <div class="grid__col col-4@m">
						      <button type="button" class="btn btn--primary btn--wide u-mb-s u-mt-xs">Wide button</button>
						    </div>
						    <div class="grid__col col-4@m">
						    </div>
						    <div class="grid__col col-4@m">
						    </div>
						  </div>
						</div>  
					</div>
					<div class="toggle">
						<button onclick="myFunction('button10'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button10">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary btn--wide"</span>&gt;</span>Wide button<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code>
					</div>
				</section>

				<div class="seperator u-mt-xl"></div>

          <section>
            <div class="ds-para">
              <a id="section8"></a>
              <h2 class="u-mt-l u-fs-xl">Design guidelines</h2>
              <h3 class="u-mt-m u-fs-m">Always emphasise on the primary action</h3>
              <p class="u-fs-body">Visually differentiate the primary action by making it more prominent – never use two competing primary buttons next to each other.</p> 
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-button-primary-action.svg" alt="Primary action example image">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-button-primary-action.svg" alt="Primary action example image">
				</div>
			</div>
			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">Don’t have more than one primary action on a page at a time</h3>
              <p class="u-fs-body">Let users focus on the task at hand. You can have numerous actions on a page, but make sure there's only one primary action.</p>
          	  <p class="u-fs-body">If you have more than one competing primary action, use secondary buttons.</p> 
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-primary-number.svg" alt="Primary buttons number example image">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-primary-number.svg" alt="Primary buttons number example image">
				</div>
			</div>
			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">Left align the primary button on full page designs</h3>
              <p class="u-fs-body">If the browser window is large, or you have to scroll to fill out a form, always place the primary button right below the last bit of content on the page. The reason is that this is where your users' attention has been focused, while either reading or adding information to a form.</p>
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-button-placement.svg" alt="Button placement example image">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-button-placement.svg" alt="Button placement example image">
				</div>
			</div>
			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">Place the primary action bottom right in dialog boxes</h3>
              <p class="u-fs-body">In smaller windows it’s best practice to have the most important action at the end.</p>
              <p class="u-fs-body">Compare the scanning patterns below to see which is easiest – hence, the primary action should be bottom right.</p>
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-modal-button.svg" alt="Button placement example image">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-modal-button.svg" alt="Button placement example image">
				</div>
			</div>
			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">Ensure button labels fit on one line</h3>
              <p class="u-fs-body">Don’t wrap text. For maximum legibility, a text label should remain on a single line.</p>
            </div>
            <div class="grid u-mt-m">
				<div class="grid__col col-6@m">
					<img src="../img/do-text-label.svg" alt="Button text example image">
				</div>
				<div class="grid__col col-6@m">
					<img src="../img/dont-text-label.svg" alt="Button text example image">
				</div>
			</div>
			<div class="ds-para">
              <h3 class="u-mt-l u-fs-m">Add clear text labels to buttons</h3>
              <p class="u-fs-body">The labelling of buttons matter. Make sure to clearly explain what your button will do, once clicked.</p>
            </div>
            
          </section>

          <div class="seperator u-mt-l"></div>

					<section>
						<div class="ds-para inline-code">
							<a id="section9"></a>
							<h2 class="u-mt-l u-fs-xl">Accessibility</h2>
							<p>Buttons by default use the <code>button</code> element, which is appropriate for triggering actions within the current page. If the control is being used as a navigation action (i.e. the page address will change as a result of clicking the button) then an <code>a href</code> element should be used.</p>
							<h3 class="u-mt-m u-fs-m u-fw-600">Disabled buttons</h3>
							<p class="u-fs-body">Use the <code>disabled=true</code> or <code>aria-disabled=true</code> attributes to convey information to screen readers (only use aria attributes as a last resort)</p>
							<p>Add <code>cursor: not-allowed</code> to the disabled styles, this will serve as another visual indicator that the button is disabled for mouse users.</p>
							<h3 class="u-mt-m u-fs-s u-fw-600 u-dark">Avoid disabled submit buttons</h3>
							<p class="u-fs-body">There are a number of usability and accessibility issues with disabling form submit buttons until the user has entered valid/expected data. It's often better to let the user attempt submission and provide explicit feedback in response.</p>
							<h3 class="u-mt-m u-fs-m u-fw-600">Icon buttons</h3>
							<p class="u-fs-body">Whenever possible, provide a text description as well to ensure the best level of understanding is conveyed. If an icon is used on its own, make sure screen reader only text is provided using the class <code>visually-hidden</code> so a description is provided to users with assistive technologies.</p>
						</div>
					</section>

					<div class="seperator u-mt-l"></div>

					<section>
					<div class="u-mb-xl">
						<a id="section10"></a>
						<h2 class="u-mt-l u-fs-xl">Related research</h2>
						<ul class="list list--bare u-mt-s">
							<li class="list__item"><a href="https://medium.com/simple-human/but-sometimes-links-look-like-buttons-and-buttons-look-like-links-9b371c57b3d2" target="_blank">Sometimes links look like buttons and buttons look like links</a></li>
							<li class="list__item"><a href="https://medium.com/@sean_1138/a11y-tips-disabled-buttons-and-colour-contrast-f8824d5e9610" target="_blank">A11y tips – disabled buttons and colour contrast</a></li>
							<li class="list__item"><a href="https://www.nngroup.com/articles/ui-copy/" target="_blank">NNGroup – UI copy</a></li>
							<li class="list__item"><a href="https://axesslab.com/disabled-buttons-suck/" target="_blank">Disabled buttons suck</a></li><br><br><br>
						</ul>
					</div>
				</section>
					</div>

				</section>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../js/show-hide.js"></script>
<script type="text/javascript" src="../js/focus.js"></script>

</body>
</html>
