<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Checkbox – Neptune</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="../css/master.css" media="all">
</head>

<body>

<header>
	<div class="navbar">
		<div class="ds-hero" id="navbar">
			<div class="container container--full-width">
				<div class="grid">
	    			<div class="grid__col col-3@m">
						<a href="../index.html"><img src="../img/lexis-icon.svg" class="lexis-icon" alt="Neptune"></a>
					</div>
					<div class="grid__col col-9@m">
						<div class="topnav">
							<div class="topnav-right">
								<a href="../index.html">Home</a>
								<a href="../styles.html">Styles</a>
								<a href="../components.html" class="active">Components</a>
								<a href="../patterns.html">Patterns</a>
								<a href="">Accessibility</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="sidenav">
	  <a href="accordion.html">Accordion</a>
	  <a href="buttons.html">Buttons</a>
	  <a href="" class="active">Checkbox</a>
	  <a href="footer.html">Footer</a>
	  <a href="header.html">Header</a>
	  <a href="links.html">Links</a>
	  <a href="radio-button.html">Radio button</a>
	  <a href="text-input.html">Text input</a>
	</div>
</section>

<main>
	<div class="main">
		<div class="sidenav-container">
			<div class="ds-article">
				<nav aria-label="Breadcrumb" class="u-mt-l">
					<ol class="breadcrumb">
					  <li><a href="../index.html">Home</a></li>
					  <li><a href="../components.html">Components</a></li>
					  <li class="bc-active">Checkbox</li>
					</ol>
				</nav>
				<section>
					<div class="ds-para">
						<h1 class="u-mt-l u-fs-xxxl">Checkbox</h1>
						<p class="u-fs-s">Checkboxes let the user select one or more options from a list. They can also be used to toggle a particular option on or off.</p>
					</div>
					<div class="seperator u-mt-l"></div>
				</section>
				<section>
					<p class="u-fs-m u-dark u-fw-600 u-mt-l">Contents</p>
					<ol class="list list--bare u-mt-s">
						<li class="list__item"><a href="#section1">Standard checkbox</a></li>
						<li class="list__item"><a href="#section2">Large checkbox</a></li>
						<li class="list__item"><a href="#section3">Small checkbox</a></li>
						<li class="list__item"><a href="#section4">Design guidelines</a></li>
						<li class="list__item"><a href="#section5">Accessibility</a></li>
						<li class="list__item"><a href="#section6">Related research</a></li>
					</ol>
				<div class="seperator u-mt-l"></div>
				</section>

				<section>
					<div class="ds-para">
						<a id="section1"></a>
						<h2 class="u-mt-l u-fs-xl">Standard checkbox</h2>
						<p class="u-fs-body"></p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/checkbox-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<fieldset class="fieldset">
							<legend class="fieldset__legend">Which data values would you like to append?</legend>
							<div class="checkbox__items">
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="name" class="checkbox__input" value="name">
			        				<label id="name-label" class="checkbox__label" for="name">Full name</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="date-of-birth" class="checkbox__input" value="date-of-birth">
			        				<label id="date-of-birth-label" class="checkbox__label" for="date-of-birth">Date of birth</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="address" class="checkbox__input" value="address">
			        				<label id="address-label" class="checkbox__label" for="address">Address</label>
			    				</p>
			  				</div>
		  				</fieldset>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button1'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button1">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">legend</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset__legend"</span>&gt;</span>Which data values would you like to append?<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__items"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"name"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"name"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"name-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"name"</span>&gt;</span>Name<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"date-of-birth"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"date-of-birth"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"date-of-birth-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"date-of-birth"</span>&gt;</span>Date of birth<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"address"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"address"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"address-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"address"</span>&gt;</span>Address<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
   <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span></code>
					</div>
					<div class="ds-para">
						<h3 class="u-mt-l u-fs-m">Inline example</h3>
						<p class="u-fs-body">Checkboxes can be displayed inline if there's limited space and the labels are short.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/checkbox-inline-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<fieldset class="fieldset">
							<legend class="fieldset__legend">Filter your results by category type</legend>
							<div class="checkbox__items-inline">
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="adverse-media" class="checkbox__input" value="adverse-media">
			        				<label id="adverse-media-label" class="checkbox__label" for="adverse-media">Adverse media</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="enforcement" class="checkbox__input" value="enforcement">
			        				<label id="enforcement-label" class="checkbox__label" for="enforcement">Enforcement</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="sanction-list" class="checkbox__input" value="sanction-list">
			        				<label id="sanction-list-label" class="checkbox__label" for="sanction-list">Sanction list</label>
			    				</p>
			  				</div>
				  		</fieldset>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button2'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button2">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">legend</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset__legend"</span>&gt;</span>Filter your results by category type<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__items-inline"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"adverse-media"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"adverse-media"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"adverse-media-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"adverse-media"</span>&gt;</span>Adverse media<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"enforcement"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"enforcement"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"enforcement-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"enforcement"</span>&gt;</span>Enforcement<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"sanction-list"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"sanction-list"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"sanction-list-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"sanction-list"</span>&gt;</span>Sanction list<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span></code>
					</div>

				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para">
						<a id="section2"></a>
						<h2 class="u-mt-l u-fs-xl">Large checkbox</h2>
						<p>An outline can be applied to checkboxes to give them more prominence.</p>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/checkbox-large-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<fieldset class="fieldset">
							<legend class="fieldset__legend">Which contact details would you like to append?</legend>
								<div class="checkbox__items">
				    				<p class="checkbox-large__item">
				      					<span class="checkbox">
				        					<input type="checkbox" id="landline" class="checkbox-large__input" value="landline">
				        					<label id="landline-label" class="checkbox-large__label" for="landline">Landline number</label>
				    					</span>
				    				</p>
				    				<p class="checkbox-large__item">
				      					<span class="checkbox">
				        					<input type="checkbox" id="mobile" class="checkbox-large__input" value="mobile">
				        					<label id="mobile-label" class="checkbox-large__label" for="mobile">Mobile number</label>
				    					</span>
				    				</p>
				    				<p class="checkbox-large__item">
				      					<span class="checkbox">
				        					<input type="checkbox" id="email" class="checkbox-large__input" value="email">
				        					<label id="email-label" class="checkbox-large__label" for="email">Email address</label>
				    					</span>
				    				</p>
				  				</div>
				  		</fieldset>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button3'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button3">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">legend</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset__legend"</span>&gt;</span>Which contact details would you like to append?<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__items"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"landline"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"landline"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"landline-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"landline"</span>&gt;</span>Landline<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"mobile"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"mobile"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"mobile-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"mobile"</span>&gt;</span>Mobile number<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"email"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"email-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"email"</span>&gt;</span>Email address<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span></code>
					</div>

					<div class="ds-para">
						<h3 class="u-mt-l u-fs-m">Inline example</h3>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/checkbox-large-inline-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<fieldset class="fieldset">
						  <legend class="fieldset__legend">Filter your results by category type</legend>
						    <div class="checkbox__items">
						        <p class="checkbox-large__item-inline">
						            <span class="checkbox">
						              <input type="checkbox" id="soe" class="checkbox-large__input" value="soe">
						              <label id="soe-label" class="checkbox-large__label" for="soe">State Owned Enteprises</label>
						          </span>
						        </p>
						        <p class="checkbox-large__item-inline">
						            <span class="checkbox">
						              <input type="checkbox" id="pep" class="checkbox-large__input" value="pep">
						              <label id="pep-label" class="checkbox-large__label" for="pep">PEP</label>
						          </span>
						        </p>
						        <p class="checkbox-large__item-inline">
						            <span class="checkbox">
						              <input type="checkbox" id="influential-person" class="checkbox-large__input" value="influential-person">
						              <label id="influential-person-label" class="checkbox-large__label" for="influential-person">Influential person</label>
						          </span>
						        </p>
						      </div>
						</fieldset>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button4'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button4">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">legend</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset__legend"</span>&gt;</span>Filter your results by category type<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__items"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__item-inline"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"soe"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"soe"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"soe-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"soe"</span>&gt;</span>State Owned Enteprises<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__item-inline"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"pep"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"pep"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"pep-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"pep"</span>&gt;</span>PEP<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__item-inline"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"influential-person"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"influential-person"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"influential-person-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-large__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"influential-person"</span>&gt;</span>Influential person<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span></code>
					</div>

				</section>

				<div class="seperator u-mt-xl"></div>

				<section>
					<div class="ds-para">
						<a id="section3"></a>
						<h2 class="u-mt-l u-fs-xl">Small checkbox</h2>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/checkbox-small-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<fieldset class="fieldset">
							<legend class="fieldset__legend">Which data values would you like to append?</legend>
							<div class="checkbox__items">
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="name2" class="checkbox-small__input" value="name2">
			        				<label id="name-label2" class="checkbox-small__label" for="name2">Full name</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="date-of-birth2" class="checkbox-small__input js-checkbox" value="date-of-birth2">
			        				<label id="date-of-birth-label2" class="checkbox-small__label" for="date-of-birth2">Date of birth</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="address2" class="checkbox-small__input" value="address2">
			        				<label id="address-label2" class="checkbox-small__label" for="address2">Address</label>
			    				</p>
			  				</div>
		  				</fieldset>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button5'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button5">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">legend</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset__legend"</span>&gt;</span>Which data values would you like to append?<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__items"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"name"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"name"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"name-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"name"</span>&gt;</span>Name<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"date-of-birth"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"date-of-birth"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"date-of-birth-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"date-of-birth"</span>&gt;</span>Date of birth<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"address"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"address"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"address-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"address"</span>&gt;</span>Address<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
   <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span></code>
					</div>

					<div class="ds-para">
						<h3 class="u-mt-l u-fs-m">Inline example</h3>
					</div>
					<div class="example-panel u-mt-m">
						<a href="examples/checkbox-small-inline-example.html" target="_blank" class="example-link u-fw-400">Open in new window</a>
						<fieldset class="fieldset">
							<legend class="fieldset__legend">Filter your results by category type</legend>
							<div class="checkbox__items-inline">
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="adverse-media2" class="checkbox-small__input" value="adverse-media2">
			        				<label id="adverse-media-label" class="checkbox-small__label" for="adverse-media2">Adverse media</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="enforcement2" class="checkbox-small__input" value="enforcement2">
			        				<label id="enforcement-label" class="checkbox-small__label" for="enforcement2">Enforcement</label>
			    				</p>
			    				<p class="checkbox__item">
			        				<input type="checkbox" id="sanction-list2" class="checkbox-small__input" value="sanction-list2">
			        				<label id="sanction-list-label" class="checkbox-small__label" for="sanction-list2">Sanction list</label>
			    				</p>
			  				</div>
				  		</fieldset>
					</div>
					<div class="toggle">
						<button onclick="myFunction('button6'); setColor(event)">HTML</button>
					</div>	
					<div class="showHide" id="button6">
						<code class="patternlib-example__code html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">legend</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fieldset__legend"</span>&gt;</span>Filter your results by category type<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__items-inline"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"adverse-media"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"adverse-media"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"adverse-media-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"adverse-media"</span>&gt;</span>Adverse media<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"enforcement"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"enforcement"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"enforcement-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"enforcement"</span>&gt;</span>Enforcement<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox__item"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"sanction-list"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__input"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"sanction-list"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"sanction-list-label"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"checkbox-small__label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"sanction-list"</span>&gt;</span>Sanction list<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span></code>
					</div>

					<div class="seperator u-mt-xl"></div>

		          <section>
		            <div class="ds-para">
		              <a id="section4"></a>
		              <h2 class="u-mt-l u-fs-xl">Design guidelines</h2>
		              <h3 class="u-mt-m u-fs-m">Checkbox or radio button?</h3>
		              <p class="u-fs-body">A set of checkboxes should be used to select as many options as desired (or none). A set of radio buttons should be used to select only a single option from a list of mutually exclusive options.</p>
		            </div>
		            <div class="grid u-mt-m">
						<div class="grid__col col-6@m">
							<img src="../img/do-checkbox.svg" alt="Checkbox example">
						</div>
						<div class="grid__col col-6@m">
							<img src="../img/dont-checkbox.svg" alt="Checkbox example">
						</div>
					</div>
					<div class="ds-para">
		              <h3 class="u-mt-m u-fs-m">Checkbox or toggle switch?</h3>
		              <p class="u-fs-body">Checkboxes are best used for communicating selection while toggle switches are best used for activation (e.g. on/off states). Checkboxes, unlike switches, can have an error state.</p>
		              <p>Always use a checkbox when the user has to perform extra steps for changes to take effect.</p>
		            </div>
		            <div class="grid u-mt-m">
						<div class="grid__col col-6@m">
							<img src="../img/do-checkbox-toggle.svg" alt="Checkbox example">
						</div>
						<div class="grid__col col-6@m">
							<img src="../img/dont-checkbox-toggle.svg" alt="Checkbox example">
						</div>
					</div>
					<div class="ds-para">
		              <h3 class="u-mt-m u-fs-m">Checkboxes should be positioned before the label</h3>
		            </div>

		            <div class="grid u-mt-m">
						<div class="grid__col col-6@m">
							<img src="../img/do-checkbox-position.svg" alt="Checkbox position example">
						</div>
						<div class="grid__col col-6@m">
							<img src="../img/dont-checkbox-position.svg" alt="Checkbox position example">
						</div>
					</div>
		            
		          </section>

		          <div class="seperator u-mt-xl"></div>

					<section>
						<div class="ds-para inline-code">
							<a id="section5"></a>
								<h2 class="u-mt-l u-fs-xl">Accessibility</h2>
								<h3 class="u-mt-m u-fs-m">Always associate the label with the input</h3>
								<p class="u-fs-body">When a user clicks on the input’s label text, the checkbox should be activated. To achieve this, an <code>id="example"</code> should be added to the checkbox <code>&#60;input&#62;</code>. Then, this ID will be used as a <code>for="example"</code> attribute for the <code>&#60;label&#62;</code> element.</p>
						</div>
						 <div class="grid u-mt-m">
							<div class="grid__col col-6@m">
								<img src="../img/do-association.svg" alt="Label input association example">
							</div>
							<div class="grid__col col-6@m">
								<img src="../img/dont-association.svg" alt="Label input association example">
							</div>
						</div>
						<div class="ds-para inline-code">
								<h3 class="u-mt-m u-fs-m">Multiple answers or selections</h3>
								<p class="u-fs-body">By default, there is an HTML element that makes multiple selections more accessible to screen readers.</p>
								<p class="u-fs-body">The <code>&#60;fieldset&#62;</code> element provides a container for related form controls, and the <code>&#60;legend&#62;</code> element acts as a heading to identify the group. This will highlight the fact that it's a group and there is a question related to it with multiple answers.</p>
			            </div>
					</section>

					<div class="seperator u-mt-xl"></div>

					<section>
					<div class="u-mb-xl">
						<a id="section6"></a>
						<h2 class="u-mt-l u-fs-xl">Related research</h2>
						<ul class="list list--bare u-mt-s">
							<li class="list__item"><a href="https://www.a11ymatters.com/pattern/checkbox/" target="_blank">A11y matters accessible checkbox</a></li>
							<li class="list__item"><a href="https://www.w3.org/WAI/tutorials/forms/grouping/" target="_blank">Grouping form controls</a></li><br><br><br>
						</ul>
					</div>
				</section>

					</div>

				</section>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../js/show-hide.js"></script>
<script type="text/javascript" src="../js/focus.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="../js/floating-label.js"></script>

</body>
</html>
